.entry-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #0a1627c0;
  }
  
  .entry-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  /* Google Font Link */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  
  .container {
    position: relative;
    max-width: 1000px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
  }
  
  .container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
  }
  
  .container #flip:checked~.cover {
    transform: rotateY(-180deg);
  }
  
  .container .cover .front,
  .container .cover .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .container .cover::before,
  .container .cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 12;
  }
  
  .container .cover::after {
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  
  .container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
  }
  
  .container .forms {
    height: 100%;
    width: 100%;
    background: #fff;
  }
  
  .container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .form-content .login-form,
  .form-content .signup-form {
    width: calc(100% / 2 - 25px);
  }
  
  .forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }
  
  .forms .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #7d2ae8;
  }
  
  .forgot-password-link {
    color: #7d2ae8;
  }
  
  .forms .signup-form .title:before {
    width: 20px;
  }
  
  .forms .form-content .input-boxes {
    margin-top: 30px;
  }
  
  .forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    margin: 10px 0;
    position: relative;
  }
  
  .form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .form-content .input-box input:focus,
  .form-content .input-box input:valid {
    border-color: #7d2ae8;
  }
  
  .form-content .input-box i {
    position: absolute;
    color: #7d2ae8;
    font-size: 17px;
  }
  
  .forms .form-content .text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  
  .forms .form-content .text a {
    text-decoration: none;
  }
  
  .forms .form-content .text a:hover {
    text-decoration: underline;
  }
  
  .forms .form-content .button {
    color: #fff;
    margin-top: 40px;
  }
  
  .forms .form-content .button input {
    color: #fff;
    background: #7d2ae8;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .forms .form-content .button input:hover {
    background: #5b13b9;
  }
  
  .forms .form-content label {
    color: #5b13b9;
    cursor: pointer;
  }
  
  .forms .form-content label:hover {
    text-decoration: underline;
  }
  
  .forms .form-content .login-text,
  .forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
  }
  
  .container #flip {
    display: none;
  }
  
  @media (max-width: 730px) {
    .container .cover {
      display: none;
    }
  
    .form-content .login-form,
    .form-content .signup-form {
      width: 100%;
    }
  
    .form-content .signup-form {
      display: none;
    }
  
    .container #flip:checked~.forms .signup-form {
      display: block;
    }
  
    .container #flip:checked~.forms .login-form {
      display: none;
    }
  }
  
  .front {
    background: #7d2ae8;
  }
  
  .container {
    padding: 40px !important;
  }

  input.ng-touched.ng-invalid{
    border-color: red !important;
    color: red !important;
  }

  input.ng-touched.ng-valid{
    border-color: green !important;
  }

  small.err-msg{
    color: red;
  }

  div.input-box.err-comp{
    height: 55px !important;
    margin : 0 !important;
  }