<div class="entry-page">
    <div class="entry-content">
        <div class="container">
            <input type="checkbox" id="flip" />
            <div class="cover">
                <div class="front">
                    <img class="backImg" *ngIf="isLoginActive ; else signUpCover" [src]="imgUrl1" alt="">
                    <ng-template #signUpCover>
                        <img class="backImg" [src]="imgUrl2" alt="">
                    </ng-template>
                </div>
            </div>
            <div class="forms">
                <div class="form-content">
                    <div class="login-form">
                        <div class="title page-heading">Login</div>
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="input-boxes">
                                <div class="input-box"
                                    [class.err-comp]="loginForm.get('email')?.touched && loginForm.get('email')?.errors">
                                    <i class="fas fa-envelope"></i>
                                    <input type="email" appNoSpace formControlName='email'
                                        placeholder="Enter your email">
                                </div>
                                <ng-container *ngIf="loginForm.get('email')?.dirty" [ngSwitch]="true">
                                    <small *ngSwitchCase="loginForm.get('email')?.errors?.['required']"
                                        class="err-msg">Email is required</small>
                                    <small *ngSwitchCase="loginForm.get('email')?.errors?.['email']"
                                        class="err-msg">Invalid Email</small>
                                </ng-container>
                                <div class="input-box"
                                    [class.err-comp]="loginForm.get('password')?.touched && loginForm.get('password')?.errors">
                                    <i class="fas fa-lock"></i>
                                    <input formControlName='password' appNoSpace type="password"
                                        placeholder="Enter your password" />
                                </div>
                                <ng-container *ngIf="loginForm.get('password')?.dirty" [ngSwitch]="true">
                                    <small *ngSwitchCase="loginForm.get('password')?.errors?.['required']"
                                        class="err-msg">Password is required</small>
                                    <small *ngSwitchCase="loginForm.get('password')?.errors?.['minlength']"
                                        class="err-msg">Password must be at least 8 characters</small>
                                    <small *ngSwitchCase="loginForm.get('password')?.errors?.['invalid']"
                                        class="err-msg">Password must contain at least one lowercase and one uppercase
                                        alphabet, one number and one special character</small>
                                </ng-container>
                                <div class="text mt-3">
                                    <a class="forgot-password-link" routerLink="/rec/auth/forgotPassword">Forgot
                                        password?</a>
                                </div>
                                <div class="button input-box">
                                    <input type="submit" value="Login" />
                                </div>
                                <div class="text sign-up-text">
                                    Don't have an account? <label class="ms-1" for="flip" (click)="toggleLogin()">Sigup
                                        now</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="signup-form">
                        <div class="title page-heading">Signup</div>
                        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                            <div class="input-boxes">
                                <div class="input-box"
                                    [class.err-comp]="signupForm.get('username')?.touched && signupForm.get('username')?.errors">
                                    <i class="fas fa-user"></i>
                                    <input type="text" appNoSpace formControlName='username'
                                        placeholder="Enter Username" required />
                                </div>
                                <small *ngIf="signupForm.get('username')?.errors && signupForm.get('username')?.touched"
                                    class="err-msg">Username is required</small>
                                <div class="input-box"
                                    [class.err-comp]="signupForm.get('email')?.touched && signupForm.get('email')?.errors">
                                    <i class="fas fa-envelope"></i>
                                    <input type="email" formControlName='email' appNoSpace
                                        placeholder="Enter your email" required />
                                </div>
                                <ng-container *ngIf="signupForm.get('email')?.dirty" [ngSwitch]="true">
                                    <small *ngSwitchCase="signupForm.get('email')?.errors?.['required']"
                                        class="err-msg">Email is required</small>
                                    <small *ngSwitchCase="signupForm.get('email')?.errors?.['email']"
                                        class="err-msg">Invalid Email</small>
                                </ng-container>
                                <div class="input-box"
                                    [class.err-comp]="signupForm.get('password')?.touched && signupForm.get('password')?.errors">
                                    <i class="fas fa-lock"></i>
                                    <input formControlName='password' appNoSpace type="password"
                                        placeholder="Enter your password" required />
                                </div>
                                <ng-container *ngIf="signupForm.get('password')?.dirty" [ngSwitch]="true">
                                    <small *ngSwitchCase="signupForm.get('password')?.errors?.['required']"
                                        class="err-msg">Password is required</small>
                                    <small *ngSwitchCase="signupForm.get('password')?.errors?.['minlength']"
                                        class="err-msg">Password must be at least 8 characters</small>
                                    <small *ngSwitchCase="signupForm.get('password')?.errors?.['invalid']"
                                        class="err-msg">Password must contain at least one lowercase and one uppercase
                                        alphabet, one number and one special character</small>
                                </ng-container>
                                <div class="input-box"
                                    [class.err-comp]="signupForm.get('confirmPassword')?.touched && signupForm.get('confirmPassword')?.errors">
                                    <i class="fas fa-lock"></i>
                                    <input formControlName='confirmPassword' type="password"
                                        placeholder="Confirm your password" appNoSpace required />
                                </div>
                                <ng-container *ngIf="signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched" [ngSwitch]="true">
                                    <small *ngSwitchCase="signupForm.get('confirmPassword')?.errors?.['required']"
                                        class="err-msg">Confirm Password is required</small>
                                    <small *ngSwitchCase="signupForm.get('confirmPassword')?.errors?.['minlength']"
                                        class="err-msg">Confirm Password must be at least 8 characters</small>
                                    <small *ngSwitchCase="signupForm.get('confirmPassword')?.errors?.['invalid']"
                                        class="err-msg">Confirm Password must contain at least one lowercase and one uppercase
                                        alphabet, one number and one special character</small>
                                </ng-container>
                                <div class="button input-box">
                                    <input type="submit" value="Sign up" [disabled]="signupForm.invalid" />
                                </div>
                                <div class="text sign-up-text">
                                    Already have an account?
                                    <label for="flip" class="ms-1" (click)="toggleLogin()">Login now</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>