<div *ngIf="isMainLoading" style="margin-top: 30px">
  <app-mainloader></app-mainloader>
</div>
<div *ngIf="!isMainLoading" class="home-page-content">
  <ng-container *ngFor="let eachJob of jobStreetJobs; let i = index">
    <app-each-applied
      [isShowDelete]="true"
      [isFreelance]="false"
      (delete)="withDraw($event)"
      [eachJob]="eachJob"
    ></app-each-applied>
  </ng-container>
</div>
