<div class='main'>
    <div class="top">
        <div class="nav">
            <div class="logo">
                <!-- <a routerLink="/login">Hello</a> -->
                <h4>Job Street</h4>
            </div>
            <div>
                <ul class="list">
                    <li><a>About Us</a></li>
                    <!-- <li><a routerLink="/login">Login</a></li> -->
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="content">
                <h3>One Platform</h3>
                <h3>Where Talent</h3>
                <h3>Meets Opportunity</h3>
                <div style="display: flex;">
                    <a routerLink="/rec"><button class="goto">For Recruiters</button></a>
                    <a routerLink="/cand/auth/login"><button class="goto">For Candidate</button></a>
                </div>
            </div>
            <div class="code-img">
                <img src="https://res.cloudinary.com/da7y99axc/image/upload/v1714196951/Pngtree_children_s_software_programming_5401261_npekr9.png">
            </div>
        </div>  
    </div>
    <div class="second">
         
        <h5>Trusted By The Best Clients</h5>
        <div class="logos">
            <img src="https://res.cloudinary.com/da7y99axc/image/upload/v1714198889/pngegg_ksvx23.png">
            <img src="https://res.cloudinary.com/da7y99axc/image/upload/v1714198888/pngegg_1_amk43h.png">
            <img src="https://res.cloudinary.com/da7y99axc/image/upload/v1714198888/pngegg_3_fqhe0d.png">
            <img class="swiggy" src="https://res.cloudinary.com/da7y99axc/image/upload/v1714198888/pngegg_2_mqxlbp.png">
            <img class='swiggy' src="https://res.cloudinary.com/da7y99axc/image/upload/v1714198887/pngegg_4_kapoe2.png">
        </div>

    </div>
</div>