.profile-list{
    background-color: aliceblue;
    width: 900px;
    max-height: 250px;
    border-radius: 10px;
    padding: 20px;
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  
  .buttons-div{
    width : 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .first-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .profile-card{
    width: 80%;
    max-height: 210px;
  }
  .title-div{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .user-name , .user-title{
    margin : 0;
  }
  
  .profile-pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .second-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .third-row{
    max-height: 72px;
    overflow: hidden;
  }
  
  .title{
    color: white;
  } 
  
  .user-name{
    font-style: italic;
  }
  
  .name , .description{
    margin: 0;
  }
  
  .name{
    font-size: 22px !important;
    font-weight: bold;
  }
  
  .profile-link{
    color: white !important;
    text-decoration: none !important;
  }
  