.each-card{
    background-color: #626262;
    /* background-color: rgb(47,51,50); */
    color: white;
    width: 65vw;
    border-radius: 15px;
    margin: 30px 10px 20px 10px;
    padding: 30px 80px 30px 80px;
    display: flex;
    justify-content: space-between;
}
.each-card:hover{
    scale: 1.03;
}
.box-of-latest{
  display: flex;
}
.details-job{
  margin-top: 40px;
}

.buttons-latest{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    align-items: center;
}


.btn-31,
.btn-31 *,
.btn-31 :after,
.btn-31 :before,
.btn-31:after,
.btn-31:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-31 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  height: 70px;
  width: 140px;
  transform: translate(0,10px);
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-31:disabled {
  cursor: default;
}

.btn-31:-moz-focusring {
  outline: auto;
}

.btn-31 svg {
  display: block;
  vertical-align: middle;
}

.btn-31 [hidden] {
  display: none;
}
.f-button{
  margin-bottom: 20px;
}
.skills-section{
  display: flex;
  margin-top: 15px;
}
.skill-name{
  color: black;
  background-color: rgb(166, 216, 216);
  border-radius: 15px;
  padding: 12px;
  margin-right: 10px;

}

.new-tag{
  width: 55px;
  height: 50px;
  margin-left: 10px;
}

.btn-31 {
  border-width: 1px;
  padding: 1rem 2rem;
  position: relative;
  text-transform: uppercase;

}
.each-skill{
   background-color: rgb(254, 254, 139);
   padding: 10px;
   margin-right: 5px;
}
.logo-at-view{
  height: 50px;
  width: 50px;
}
.my-modal{
  background-color: rgb(255,255,255);
}
.my-header{
  background-color: yellow;
}

.btn-31:before {
  --progress: 100%;
  background: #fff;
  color: black;
  -webkit-clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  content: "";
  inset: 0;
  position: absolute;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
}

.btn-31:hover:before {
  --progress: 0%;
}

.btn-31 .text-container {
  display: block;
  overflow: hidden;
  position: relative;
}

.btn-31 .text {
  display: block;
  font-weight: 900;
  mix-blend-mode: difference;
  position: relative;
}

.btn-31:hover .text {
  -webkit-animation: move-up-alternate 0.3s ease forwards;
  animation: move-up-alternate 0.3s ease forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}



/* LATEST */


.shine {
    width: 100px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    background: rgb(229,184,11);
    padding: 15px 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: black;
    transform: translate(-100px,10px);
    transition: all ease 0.2s;
    -webkit-box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.17);
    transition: all ease 0.2s;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    border: none;
    font-size: 18px;
  }
  
  
  .shine::after {
    content: "";
    width: 30px;
    height: 200px;
    position: absolute;
    left: -20px;
    top: 0;
    margin-top: -20px;
    background: #fff;
    opacity: 0.6;
    filter: blur(20px);
    animation: login-blur 3s infinite;
    animation-delay: 0s;
    transform-origin: top;
  }
  
  @keyframes login-blur {
    from {
      transform: translate(0) rotate(45deg);
    }
    to {
      transform: translateX(370px) rotate(45deg);
    }
  }


  .apply {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    margin-left: 10px;  
    margin-top: 20px;
    width: 125px;
    transform: translate(0,-11px);
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    border: 1px solid white;
  }
  .link-button{
    text-decoration: none;
  }
  .apply:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  .apply:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  .apply span {
    text-align: center;
    text-decoration: none !important;
    width: 100%;
    z-index: 5;
    padding: 16px 32px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.1em;
    transform: translate(-8px,0);
    // transition: all 0.3s ease-in-out;
  }
  
  .apply:hover span {
    color: #183153;
    transform: translate(-8px,0 );
    // animation: scaleUp 0.3s ease-in-out; 
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  
  