<div class="box-of-latest">
  <div class="each-card">
    <div class="d-flex w-100 justify-content-between">
      <div style="display: flex; flex-direction: column">
        <h1>{{ job.job.jobTitle }}</h1>
        <div class="skills-section">
          <ng-container *ngFor="let skill of job.job.jobSkills">
            <span class="skill-name">{{ skill }}</span>
          </ng-container>
        </div>
        <div class="details-job">
          <h5 class="job-id"><b>Date: </b> {{ job.job.datePosted | date }}</h5>
          <h5 class="work-type"><b>Work Type: </b> {{ job.job.jobType }}</h5>
          <h5 class="job-id"><b>Posted By: </b>{{ job.recruiter }}</h5>
        </div>
      </div>
      <div class="buttons-latest">
        <button class="btn-31 f-button" type="button" (click)="openModal()">
          <span class="text-container">
            <span class="text">View</span>
          </span>
        </button>
        <a
          style="text-decoration: none"
          routerLink="/cand/applications/apply"
          [queryParams]="{ id: job.job.jobId }"
        >
          <button class="apply">
            <span>APPLY</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
