.element{
    background-color: aliceblue;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    min-height: 150px;
    border-radius: 14px;
    margin: 10px;
    width: 65vw;
    max-width: 1000px;
    justify-content: space-around;
}

.main-bottom h5{
    margin-left : 20px;
}
.main-bottom  b{
    font-size: large !important;
}

.main-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left:10px;
    margin-right:20px;
}

.main-top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 4px;
    color: black !important;
    font-size: 35px !important;
    margin-bottom: 5px !important;
}

.main-bottom{
    width: 100%;
    font-size: 20px;
    padding : 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttons{
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width : 1550px){
    .element{
        width: 67vw;
    }
}
@media screen and (max-width : 1400px){
    .element{
        width: 75vw;
    }
}
@media screen and (max-width : 1300px){
    .element{
        width: 80vw;
    }
}

@media screen and (max-width : 990px){
    .element{
        flex-direction: column;
        padding: 10px;
    }
    .buttons{
        margin-top: 10px;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .form-control{
        margin-right: 0px !important;
    }
}

@media screen and (max-width: 480px){
    .main-bottom{
        flex-direction: column;
        align-items: flex-start;
    }
    .main-bottom h5{
        margin-left : 0px;
    }
}

