<div class='application-list-main shadow'>
    <div class="application-details">
        <h5 class='work-type tab-heading'> <b>Applied by : </b>  {{application.appliedBy.firstName}} </h5>
        <h5 class='job-id tab-heading'> <b>Applied on : </b>  {{application.appliedAt | dateFormat}} </h5>
    </div>
    <div class="application-actions">
        <div class='application-buttons'>
            <button type="button" (click)="viewApplication()" class="btn btn-primary" >View</button>
            <ng-container *ngIf="application.status === APPLICATION_STATUS.PENDING">
                <button (click)="approveApplication()" type="button" class="btn btn-success" >Approve</button>
                <button (click)="rejectApplication()" type="button" class="btn btn-danger" >Reject</button>
            </ng-container>
        </div>
    </div>
</div>