<div *ngIf="isLoading; else myJobs" style="margin-top: 30px;">
    <app-mainloader></app-mainloader>
</div>

<ng-template #myJobs>
    <div class="AllDataOfItems">
        <div *ngIf="!isSaved" class="d-flex justify-content-center align-items-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div *ngIf="!isSaved" class="search-item">
            <span>
                <input type="text" class="input" 
                [(ngModel)]="textSearch"
                placeholder="Search for jobs"
                name="txt">
                
                <i class="fa-solid fa-magnifying-glass" style="color: #FFD43B;transform: translate(-40px,0);"></i>
                </span>
        
    </div>
        <div *ngIf="!isSaved">
        <ng-container *ngFor="let job of allJobs | paginate: { itemsPerPage: itemsPerPage, currentPage: p} | searchFilter : textSearch ;">
            <app-jobcard [job]="job" [showLike]="true" [isLiked]="savedPosts.includes(job.id)">
            </app-jobcard>
        </ng-container> 
    </div>

    <div *ngIf="isSaved" class="d-flex flex-column justify-content-center align-items-center">
        <ng-template #savedJobs>
        <ng-container *ngFor="let job of allJobs">
            <app-jobcard *ngIf="savedPosts.includes(job.id)" [job]="job" [showLike]="true" [isLiked]="savedPosts.includes(job.id)" ></app-jobcard>
        </ng-container> 
    </ng-template>

        <ng-container *ngIf="savedPosts.length===0; else savedJobs">
            <div class="not-found d-flex flex-column justify-content-center align-items-center">
                <p style="color: black;font-size: 24px;font-weight: bold;">No Saved jobs</p>
            </div>
        </ng-container>
    </div>
    
        
        
        <div class="not-found d-flex flex-column justify-content-center align-items-center" *ngIf="(allJobs | searchFilter: textSearch).length === 0">
            <p style="color: black;font-size: 24px;font-weight: bold;">No Jobs found</p>
        </div>
        
    </div>
</ng-template>