
::ng-deep{

    .ngx-pagination{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ngx-pagination li{
        margin-right: 7px !important;
    }
    .ngx-pagination li a{
        width: 40px;
        height: 40px;
        border-radius: 50% !important;
        background-color: #f8f8f8; 
        display: flex !important;
        justify-content: center;
        text-decoration: none !important;
        align-items: center;

        &.small-screen{
            display: none !important;
        }

        

        // &.pagination-previous,&.pagination.next{
        //     a,span{
        //         width: 100% !important;
        //         height: 100% !important;
        //         border-radius: 50% !important;
        //         overflow: hidden !important;
        //         // color: #f8f8f8;
        //     }
        // }
    }

    .ngx-pagination .pagination-next{
        background-color: transparent !important;
    }

    .ngx-pagination .pagination-next:before{
        content: '' !important;
        display: none !important;
    }
    .ngx-pagination .pagination-next:before{
        display: none !important;
    }

    .current{
        border-radius: 50px !important;
        // padding: 5px !important;
        width: 50px;
        height: 50px;
        scale: 1.5;
        transition:  1s ease-in-out;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
}

.AllDataOfItems{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.not-found{
   height: 70vh;
}

.search-item{
    // background: #19161c;
    // height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: end;
    width: 65vw;
    margin-right: 25px;     
    flex-direction: column;
    // align-content: center;
}
// .box{
//     position: relative;
// }

.input {
    padding: 20px;
    width: 350px;
    height: 80px;
    background: none;
    
    border-radius: 50px;
    background: rgb(59,59,59);
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #fdfdfd;
    outline: none;
    transition: .5s;
}
.input:hover{
    border: 5px solid #ffd52d;
}
// .box:hover input{
//     width: 350px;
//     background: #3b3640;
//     border-radius: 10px;
// }
//  