
<div>
<div class="modal-header" style="z-index: 999;">
    <h5 class="modal-title" id="exampleModalLabel"> {{ jobTitle }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
            <p><strong>Company Name: </strong>&nbsp;&nbsp;{{companyName}}</p>
            <p><strong>Job Title:  </strong>&nbsp;&nbsp;{{jobTitle}}</p>
            <p><strong>Job Description: </strong>&nbsp;&nbsp;{{jobDescription}}</p>
            <p><strong>Job Experience: </strong>&nbsp;&nbsp;{{jobExperience}}</p>
            <p><strong>Job Mode: </strong>&nbsp;&nbsp;{{jobMode}}</p>
            <p><strong>Job Type: </strong>&nbsp;&nbsp;{{jobType}}</p>
            <p><strong>Job Scope: </strong>&nbsp;&nbsp;{{jobScope}}</p>
            <!-- <p><strong>Job Skills: </strong>&nbsp;&nbsp;{jobSkills.map(each => {
                return <span className='each-skill'>{each+" "}</span>
            })}</p> -->
            <p><strong>Salary Type: </strong>&nbsp;&nbsp;{{salaryType}}</p>
            <p><strong>Job Salary: </strong>&nbsp;&nbsp;{{jobSalary}}</p>
            <p><strong>Recruiter: </strong>&nbsp;&nbsp;{{postedBy}}</p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <!-- <button type="button" class="btn btn-primary">Ok</button> -->
  </div>

</div>