<div class='hiring-main'>
    <h1 class='title mt-4 mb-5 page-heading'>Discover Freelancers</h1>
    <div class="hiring-main-div">
      <div class='filter-div'>
        <form class="d-flex mb-4" role="search">
          <input
            id='search-username'
            class="form-control"
            type="search"
            placeholder="Search by Username (Eg : johndoe)"
            aria-label="Search"
            name="search-username"
            [(ngModel)] = "searchText1"
            (ngModelChange)="searchProfiles()"
          />
        </form>
        <form class="d-flex mb-4" role="search">
          <input
            id='search-skill'
            class="form-control"
            type="search"
            placeholder="Search by Skill (Eg : React)"
            aria-label="Search"
            name="search-skill"
            [(ngModel)] = "searchText2"
            (ngModelChange)="searchProfiles()"
          />
        </form>
        <form class="d-flex" role="search">
          <input
            id='search-title'
            class="form-control"
            type="search"
            placeholder="Search by Title (Eg : Data Scientist)"
            aria-label="Search"
            name="search-title"
            [(ngModel)] = "searchText3"
            (ngModelChange)="searchProfiles()"
          />
        </form>
      </div>
      <div class='list-div'>
        <ng-container *ngFor="let freelancer of freelancers">
          <app-profile-list (invite)="sendInvite($event)" [profile]="freelancer"></app-profile-list>
        </ng-container>
      </div>
    </div>
  </div>