:root {
    // --color-text: ;
    // hsl(250deg, 100%, 40%): hsl(250deg, 100%, 40%);
    // hsl(252deg, 100%, 60%): hsl(252deg, 100%, 60%);
  }
  
  .tag {
    position: relative;
    display: inline-block;
    border-radius: 6px;
    clip-path: polygon(20px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 20px);
    background: hsl(250deg, 100%, 40%);
    padding: 10px 25px;
    margin: 0 8px;
    font-weight: 300;
    font-size: 12px !important;
    color: #FFF;
    transition: clip-path 500ms;
    max-height: 48px;
    margin-bottom: 8px;
  }
  
  .tag:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: hsl(252deg, 100%, 60%);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
    border-radius: 0 0 6px 0;
    transition: transform 500ms;
  }
  
  .tag:hover {
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
  }
  
  .tag:hover:after {
    transform: translate(-100%, -100%);
  }
  