<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <img src="../../../assets/images/logo.png" alt="Career Crafter" class='logo' height="60">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive='active' routerLink='/rec/job/home' aria-current="page">
                        <h5 class="mb-0">Home</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive='active' routerLink='/rec/job/myjobs'>
                        <h5 class="mb-0">Jobs</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn drp-btn" id="dropdownBasic1" ngbDropdownToggle>
                                People
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>
                                    <a class="nav-link p-0 " routerLinkActive='active' routerLink='/rec/people/hire'>
                                        Hire Talent
                                    </a>
                                </button>
                                <button ngbDropdownItem>
                                    <a class="nav-link p-0" routerLinkActive='active'
                                        routerLink='/rec/people/invitations'>
                                        My Invitations
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item" *ngIf="">
                    <a class="nav-link" routerLinkActive='active' routerLink='/applications'>
                        <h5 class="mb-0">My applications</h5>
                    </a>
                </li>
            </ul>
        </div>
        <button class="btn btn-outline-primary me-3" routerLink="people/myprofile" routerLinkActive='active'>
            <i class="far fa-user profile-button"></i>
            My Account
        </button>
        <button (click)="handleLogout()" class="btn btn-outline-danger me-3">Sign out</button>
    </div>
</nav>