.home-button , .people-button , .jobs-button{
    color: azure !important;
    font-size: larger !important;
}

.navbar{
    width: 100%;
    position: sticky !important;
    z-index: 1000;
    top: 0;
}

.drp-btn{
    font-weight: 500 !important;
    line-height: 1.2 !important;
    height: 40px !important;
    font-size: 1.25rem !important;
    border: none   !important;
    color: rgb(179, 179, 179);
    :hover{
        color: white !important;
        background-color: white !important;
    }
}