<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
    <div class="d-flex flex-row justify-content-center p-2">
        <input class="form-control" type="search" [(ngModel)]="filterText" placeholder="Search by Job Title"
            aria-label="Search">
    </div>
    <div class="list-group list-group-flush scrollarea">
        <ng-container *ngFor="let job of jobs | jobFilter : filterText">
            <app-sidebar-job [isActive]="job._id === this.selectedJobId" (handleSelectJob)="selectJob($event)"
                [job]="job"></app-sidebar-job>
        </ng-container>
    </div>
</div>
<div class='home-page-content'>
    <ng-container *ngIf="matchingProfiles.length; else noDisplay">
        <ng-container *ngFor="let profile of matchingProfiles">
            <app-profile-list (invite)="sendInvite($event)" [profile]="profile">
            </app-profile-list>
        </ng-container>
    </ng-container>
    <ng-template #noDisplay>
        <img class="no-display" [src]="imageUrl">
    </ng-template>
</div>