

.invite-button-reject{
    border-radius: 10px;
    margin: 10px;
    background-color: red;
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 12px;
    width: 130px;
  }
  
  .invite-button-accept{
    border-radius: 10px;
    margin: 10px;
    color: white;
    background-color: green;
    border: 0;
    padding: 10px;
    border-radius: 12px;
    width: 130px;
  }
  
  .invite-btns{
      margin-top: 20px;
  }
  .status-msg{
    font-size: 1.3em;
  }
  .status-msg i{
    margin-right: 10px;
  }
  .icon-g{
    color: green;
  }
  .icon-r{
    color: red;
  }
    .box2 {
    //   height: 300px;
      width: 400px; 
      /* background: #121212; */
      background: rgb(255,255,255,0.7);
      border-radius: 20px;
      margin: 20px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all ease 0.2s;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
    .box2:hover {
      transform: scale(1.1);
      box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    }