<div class='box2'>
    <p>{{invitation.companyName}}</p>
    <h5><strong>{{invitation.jobTitle}}</strong></h5>
    <p style="margin-top: 12px;"><b>Invitation from {{invitation.inviter}}</b></p>
   <div class="d-flex flex-column align-items-start justify-content-start" style="width: 400px;padding-left: 20px;">
        <p><strong>Description: </strong>{{invitation.jobDescription}}</p>
        <p><strong>Job Mode: </strong>{{invitation.jobMode}}</p>
        <p><strong>Salary: </strong>{{invitation.jobSalary}}</p>
        <p><strong>Job Type: </strong>{{invitation.jobType}}</p>

    </div>
    <div *ngIf="value===0" class='d-flex invite-btns'>
       <button class='invite-button-accept' (click)="acceptInvitation(invitation.inviteId)">ACCEPT</button>
       <button class='invite-button-reject' (click)="rejectInvitation(invitation.inviteId)">REJECT</button>
    </div>
     <div *ngIf="value===1">
           <p class='status-msg'><i class="fa-solid fa-circle-check icon-g"></i>You have accepted the invitation</p>
       </div>
      <div *ngIf="value===-1">
           <p class='status-msg'><i class="fa-solid fa-circle-xmark icon-r"></i>You have rejected the invitation</p>
           </div>
</div>