<div class='home-page'>
  <div class="floating-icon" (click)="handleShowAddJobModal()">
    <h1 class='page-heading'>+</h1>
  </div>
  <div class="d-flex align-items-center flex-column">
    <h1 class='page-heading'>Jobs Posted by You</h1>
    <div class='home-page-header'>
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>
            Sort By
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <ng-container *ngFor="let type of sortTypes; let ind = index">
              <button (click)="setSortType(type)" [class.active]="selectedSort === type"
                ngbDropdownItem>{{type}}</button>
            </ng-container>
          </div>
        </div>
      </div>
      <form class="d-flex" role="search">
        <input id='search-bar' class="form-control" type="search" name="search" placeholder="Search by Job title"
          aria-label="Search" [(ngModel)]="searchText" (ngModelChange)="filterJobs()" />
      </form>
    </div>
    <div class='home-page-content'>
      <app-job-card *ngFor="let job of jobs" [job]="job">
        <button class='btn btn-primary view' (click)="viewJob(job)">View</button>
        <button class='btn btn-danger aux' (click)="deleteJob(job)">Delete</button>
      </app-job-card>
    </div>
  </div>