.home-page-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width : 100%;
    align-items: center;
}

.modal{
    display: block;
    .modal-title{
        color: black;
        margin: 0;
    }
}

.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 93vh;
    // background-color: ;
}

body h1{
    padding: 0 !important;
}

.home-page h1{
    color: white;
    margin: 20px auto;
}

.home-page-header{
    // position: fixed;
    // top : calc(7vh + 100px);
    width: 750px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    // z-index: 999;
    #search-bar{
        width: 400px;
        height: 40px;
    }
}

@media screen and (max-width: 768px){
    .home-page-header{
        width: 100%;
        flex-direction: column;
    }
    .dropdown{
        margin-bottom: 15px;
    }
}


.icon{
    width: 40px;
    height: 40px;
}

.floating-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    background: rgb(74, 130, 234);
    height: 100px;
    border-radius: 50%;
}


