<div *ngIf="invitationsLoading; else viewInvitations">
  <app-commonloader></app-commonloader>
</div>

<ng-template #viewInvitations>
  <div *ngIf="!invitationsLoading" class="invitaions-back">
    <div class="align-back"></div>
    <div class="no-invites" *ngIf="!invites">
      <h3>No Invitations Received</h3>
      <img
        src="https://res.cloudinary.com/da7y99axc/image/upload/v1711867576/noinvites-removebg-preview_k9pebp.png"
        alt="No Invitations"
        class="no-invites-img"
      />
    </div>

    <div *ngIf="invites" class="invites">
      <h2 class="invitation-header">Invites from Recruiters</h2>
      <div class="list-of-invites">
        <div *ngFor="let each of invites">
          <app-each-invitation [invitation]="each"
           (rejectInvite)="rejectInvite($event)"
           (acceptInvite)="acceptInvite($event)"></app-each-invitation>
        </div>
      </div>
    </div>
  </div>
</ng-template>
