<div class="d-flex flex-column" [ngStyle]="{height: '100vh'}">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5 d-flex flex-column align-items-center">
                    <h5 class="card-title text-center mb-4 fw-medium fs-5">Enter email to receive otp to reset password
                    </h5>
                    <form [ngStyle]="{ 'min-width': '50%' }" [formGroup]="passwordForm" (ngSubmit)="formSubmit()">
                        <div class="form-floating mb-4">
                            <input
                                [class.is-invalid]="passwordForm.get('email')?.dirty && passwordForm.get('email')?.invalid"
                                type="email" appNoSpace formControlName="email" class="form-control" id="floatingInput1"
                                required />
                            <label for="floatingInput">Email address</label>
                            <ng-container *ngIf="passwordForm.get('email')?.errors && passwordForm.get('email')?.dirty"
                                [ngSwitch]="true">
                                <div *ngSwitchCase="passwordForm.get('email')?.errors?.['required']"
                                    id="validationServerUsernameFeedback" class=" ms-2 invalid-feedback">
                                    Email Required
                                </div>
                                <div *ngSwitchCase="passwordForm.get('email')?.errors?.['email']"
                                    id="validationServerUsernameFeedback" class=" ms-2 invalid-feedback">
                                    Invalid Email
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-floating mb-4">
                            <input formControlName="password"
                                [class.is-invalid]="passwordForm.get('password')?.dirty && passwordForm.get('password')?.invalid"
                                appNoSpace type="password" class="form-control" id="floatingInput2" required />
                            <label for="floatingInput">Enter new password</label>
                            <ng-container
                                *ngIf="passwordForm.get('password')?.errors && passwordForm.get('password')?.dirty"
                                [ngSwitch]="true">
                                <div *ngSwitchCase="passwordForm.get('password')?.errors?.['required']"
                                    id="validationServerUsernameFeedback" class=" ms-2 invalid-feedback">
                                    Password Required
                                </div>
                                <div *ngSwitchCase="passwordForm.get('password')?.errors?.['minlength']"
                                    id="validationServerUsernameFeedback" class=" ms-2 invalid-feedback">
                                    Should have atleast 8 characters
                                </div>
                                <div *ngSwitchCase="passwordForm.get('password')?.errors?.['invalid']"
                                    id="validationServerUsernameFeedback" class=" ms-2 invalid-feedback">
                                    Should have atleast 1 uppercase, 1 lowercase, 1 number and 1 special character
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-floating mb-4">
                            <input formControlName="confirmPassword"
                                [class.is-invalid]="passwordForm.get('confirmPassword')?.dirty && passwordForm.get('confirmPassword')?.invalid"
                                appNoSpace type="password" class="form-control" id="floatingInput3" required />
                            <label for="floatingInput">Confirm new password</label>
                            <ng-container
                                *ngIf="passwordForm.get('confirmPassword')?.errors && passwordForm.get('confirmPassword')?.dirty"
                                [ngSwitch]="true">
                                <div *ngSwitchCase="passwordForm.get('confirmPassword')?.errors?.['required']"
                                    id="validationServerUsernameFeedback" class=" ms-2 invalid-feedback">
                                    Confirm New Password Required
                                </div>
                                <div *ngSwitchCase="passwordForm.get('confirmPassword')?.errors?.['minlength']"
                                    id="validationServerUsernameFeedback" class=" ms-2 invalid-feedback">
                                    Should have atleast 8 characters
                                </div>
                                <div *ngSwitchCase="passwordForm.get('confirmPassword')?.errors?.['invalid']"
                                    id="validationServerUsernameFeedback" class=" ms-2 invalid-feedback">
                                    Should have atleast 1 uppercase, 1 lowercase, 1 number and 1 special character
                                </div>
                            </ng-container>
                        </div>
                        <div class="d-grid">
                            <button [disabled]="passwordForm.invalid"
                                class="btn btn-success btn-login text-uppercase fw-bold" type="submit">
                                Reset Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>