<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Application Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" [value]="application.appliedBy.firstName" readOnly />
            <label for="company-name">Applicant First Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" [value]="application.appliedBy.lastName" readOnly />
            <label for="company-name">Applicant Last Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" [value]="application.appliedBy.email" readOnly />
            <label for="company-name">Applicant Email</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" [value]="application.appliedBy.userBio" id="floatingTextarea2"
                readOnly></textarea>
            <label for="floatingTextarea2">Applicant Bio</label>
        </div>
        <!-- <div class="form-floating mb-3">
            <textarea class="form-control" [value]="application.appliedBy.userAbout" id="floatingTextarea2"
                readOnly></textarea>
            <label for="floatingTextarea2">Applicant About</label>
        </div> -->
        <div class="skills-div mb-3">
            <label class="skills-label ps-3 fw-light">Applicant About</label>
            <div class="d-flex flex-row ms-3 mb-2 flex-wrap" style="white-space: pre-line;">
                {{ application.appliedBy.userAbout }}
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" [value]="application.startDate | dateFormat" readOnly />
            <label for="floatingTextarea2">Available Date</label>
        </div>
        <ng-template #noSkill>
            <div class="form-floating mb-3">
                <textarea class="form-control" value="Not Disclosed" id="floatingTextarea2" readOnly>
                    </textarea>
                <label for="floatingTextarea2">Applicant Skills</label>
            </div>
        </ng-template>
        <div class="skills-div mb-3" *ngIf="application.appliedBy.userSkills.length ; else noSkill">
            <label class="skills-label ps-3 mb-2 fw-light">Applicant Skills</label>
            <div class="d-flex flex-row flex-wrap">
                <ng-container *ngFor="let skill of application.appliedBy.userSkills">
                    <app-tag [content]="skill"></app-tag>
                </ng-container>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-end">
            <button (click)="closeModal()" class="btn btn-secondary me-3" type="button">
                Close
            </button>
        </div>
    </form>
</div>