<div (click)="handleSelect()" [class.active] ="isActive" class="list-group-item list-group-item-action py-3 mb-1 lh-sm" >
    <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">{{job.jobTitle}}</strong>
        <small>{{job.datePosted | dateFormat}}</small>
    </div>
    <div class="col-10 mb-1 small">{{job.companyName}}</div>
</div>