<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()" aria-label="Close"></button>
</div>
<div class="modal-body d-flex flex-row justify-content-end">
    <button type="button" class="btn btn-secondary me-3" (click)="close()" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-danger" (click)="submit()">{{action}}</button>
</div>