<div class="modal-header">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">Invite to work</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="handleClose()" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form [formGroup]="invitationForm" (ngSubmit)="handleSubmit()">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value={{invitee.username}} disabled />
            <label for="company-name">Invitee</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value={{inviter.username}} disabled />
            <label for="company-name">Inviter</label>
        </div>
        <div class="form-floating mb-3">
            <input [ngClass]="{ 'is-invalid' : invitationForm.get('companyName')?.touched && invitationForm.get('companyName')?.invalid}" type="text" class="form-control" formControlName="companyName" placeholder="Company Name" required />
            <label for="company-name">Company Name</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" formControlName="jobTitle" placeholder="Job Role" [ngClass]="{ 'is-invalid' : invitationForm.get('jobTitle')?.touched && invitationForm.get('jobTitle')?.invalid}" required />
            <label for="job-role">Job Role</label>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text grey-bg" for="inputGroupSelect01">Work Mode</label>
            <select class="form-select" id="inputGroupSelect01" formControlName='jobMode'>
                <ng-container *ngFor="let mode of jobModes">
                    <option [value]="mode">{{mode}}</option>
                </ng-container>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text grey-bg" for="inputGroupSelect01">Work Type</label>
            <select class="form-select" id="inputGroupSelect01" formControlName='jobType'>
                <ng-container *ngFor="let type of jobTypes">
                    <option [value]="type">{{type}}</option>
                </ng-container>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text grey-bg" for="inputGroupSelect01">Job Scope</label>
            <select class="form-select" id="inputGroupSelect01" formControlName='jobScope'>
                <ng-container *ngFor="let scope of jobScopes">
                    <option [value]="scope">{{scope}}</option>
                </ng-container>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text grey-bg" for="inputGroupSelect01">Salary type</label>
            <select class="form-select" id="inputGroupSelect01" formControlName='salaryType'>
                <ng-container *ngFor="let type of salaryTypes">
                    <option [value]="type">{{type}}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-floating mb-3">
            <input appLeadingSpace [ngClass]="{ 'is-invalid' : invitationForm.get('jobSalary')?.touched && invitationForm.get('jobSalary')?.invalid}" type="text" class="form-control" formControlName="jobSalary" placeholder="Salary (INR)" required />
            <label for="salary">Salary (INR)</label>
        </div>
        <div class="form-floating mb-3">
            <textarea appLeadingSpace [ngClass]="{ 'is-invalid' : invitationForm.get('jobDescription')?.touched && invitationForm.get('jobDescription')?.invalid}"
            [ngStyle]="{'height' : '150px'}" class="form-control" formControlName="jobDescription" placeholder="Job Description" id="floatingTextarea2"
                required></textarea>
            <label for="floatingTextarea2">Work Description</label>
        </div>
        <div class="d-flex flex-row justify-content-end">
            <button type="button" (click)="handleClose()" class="btn btn-secondary me-3">
                Close
            </button>
            <button class="btn btn-success me-3" [disabled]="invitationForm.invalid" type='submit'>
                Send Invite
            </button>
        </div>
    </form>
</div>