<div class="d-flex flex-column" [ngStyle]="{height: '100vh'}">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5 d-flex flex-column align-items-center">
                    <h5 class="card-title text-center mb-4 fw-medium fs-5">Enter email to receive otp to reset password
                    </h5>
                    <form [ngStyle]="{ 'min-width': '50%' }" [formGroup]="emailForm" (ngSubmit)="formSubmit()">
                        <div class="form-floating mb-4">
                            <input type="email" class="form-control" [class.is-invalid]="emailForm.get('email')?.dirty && emailForm.get('email')?.invalid" formControlName="email" appNoSpace id="floatingInput" placeholder="name@example.com"
                                formControlName="email" required />
                            <label for="floatingInput">Email address</label>
                            <ng-container *ngIf="emailForm.get('email')?.errors && emailForm.get('email')?.dirty" [ngSwitch]="true">
                                <div *ngSwitchCase="emailForm.get('email')?.errors?.['required']"
                                    id="validationServerUsernameFeedback" class=" ms-2 invalid-feedback">
                                    Email Required
                                </div>
                                <div *ngSwitchCase="emailForm.get('email')?.errors?.['email']"
                                    id="validationServerUsernameFeedback" class=" ms-2 invalid-feedback">
                                    Invalid Email
                                </div>
                            </ng-container>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-success btn-login text-uppercase fw-bold" [disabled]="emailForm.invalid" type="submit">
                                Send Otp
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>