<div style="background-color: #333333; height: 10vh">
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary nav">
   
    <div class="container-fluid head">
     
      <!-- <button
        data-mdb-collapse-init=""
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars">
      </button> -->
      <!-- {/* Collapsible wrapper */} -->
      <div class="collapse navbar-collapse pages" id="navbarSupportedContent">
       
        <div class='logo-name'>
                    <a routerLink="/cand/jobs/all" class="link">
                      <span>Job<span class='ex'>Street </span></span>
                    </a>
        </div>
       
      
      </div>
      
      <div class="d-flex justify-content-space-around align-items-center">
        <div class="pages">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a to="/jobs" class="nav-link link-name" routerLinkActive="active" routerLink="/cand/jobs/all">
              Jobs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-name" routerLinkActive="active" routerLink="/cand/applications/all">
              My Applications
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/cand/invitations/all" routerLinkActive="active" class="nav-link link-name">
              My Invitations
            </a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link link-name" [routerLink]="cand">
              Profile
            </a> -->
            <button class="btn btn-primary" style="margin-right: 6px;" (click)="viewProfile()">
               Profile
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger" (click)="onLogout()">
                Logout
            </button>
          </li>
        </ul>
        </div>


        <!-- {/* Notifications */} -->

         <!-- <div class="dropdown">
          <div onMouseEnter={() => onBellClick()}>
          {/* <div class='badge'><NotificationBadge count={count} effect={Effect.SCALE}/></div> */}
      <div>  <i class="fa-regular fa-bell bell"></i></div></div>
         
         
                <div class="dropdown-content">
                  {notifications.length===0 && <p style={{color: "black",marginLeft: "40px"}}>No Notifications found</p>}
                {notifications.length>0 && <ul>
                  {notifications.map((each) => {
                    const text = `New Job Post from ${each.name}`
                     return <li>
                       <div class="notifications-item">
                       <img src={each.imgUrl} alt="img"
                       onError={errorImage}/>
                          <div class="text">
                              <h4>{each.name}</h4>
                              <p>{text}</p>
                          </div>
                      </div>
                     </li>
                  })}
                   
                </ul>}
            
                </div>
        </div> -->
        <!-- {/* Avatar */} -->
       <!-- <ImageLogo/> -->
      </div>
      <!-- {/* Right elements */} -->
    </div>
  </nav>
</div>