
.nav{
    display: flex;
    justify-content: center; 
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    border-bottom: none !important;
    z-index: 10;
}
::-webkit-scrollbar {
    width: 0;
  }

.active{
    color: green !important;
}
.head{
    background-color: #454545;
    padding: 20px;
    color: white;
    height: 120% !important;
    // border-bottom: 2px solid white;
}
.link-name {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.link-name:hover{
    color: green;
}
.bell{
    font-size: 30px;
    transform: translate(-30px,0px);
    z-index: 15;
}
.bell:hover{
    color: green;
}
.pages{
    margin-right: 60px;
}
.notify-dd{
    position: absolute;
    top: 80px;
    right: 110px;
    background: #fff;
    width: 350px;
    height: auto;
    display: none;
    padding: 10px;
    border: 1px solid #c7d8e2;
    border-radius: 3px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.125),
    -10px -10px 30px rgba(0, 0, 0, 0.125);
}
/* .dropdown-content:before{
    content: "";
    position: absolute;
    top: -17px;
    right: 7px;
    border: 10px solid;
    border-color: transparent transparent white transparent;
} */
/* .badge{
    transform: translate(-5px,3px);
    z-index: 30;
} */
.bell:hover .notify-dd{
    cursor:pointer;
    display: block;
    z-index: 20;
}
ul{
    list-style-type: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    opacity: 50;
    transition: opacity 250ms ease-in-out;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 300px;
    border-radius: 15px;;
    padding-bottom: 10px;
    height: auto;
    max-height: 40vh;
    overflow: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translate(-300px,10px)
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  align-items: space-between;
  justify-content: center;
  padding: 15px;
}
  

.cont{
    width: 100vw;
    height: 80px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    /* padding: 20px 20px 20px; */
    padding: 20px 20px 0px 20px;
}
.link{
    text-decoration: none;
}
.logo-name{
    font-size: 34px;
    font-weight: bold;
    transform: translate(0,10px);
    text-decoration: none;
}

.ex{
    color: lawngreen;
    transform: rotate(360deg)
}

.links{
    display: flex;
    gap: 24px;
    align-items: center;
    font-weight: 500;
    
}

.links span{
    cursor: pointer
}

/* bell */



 