.invite-element{
    background-color: rgb(227, 251, 167);
    padding: 20px;
    display: flex;
    flex-direction: row;
    min-height: 150px;
    border-radius: 14px;
    margin-bottom: 20px;
    max-width: 800px;
    min-width: 700px;
    justify-content: space-around;
}

.main-bottom h5{
    margin-left : 20px;
}

.main-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left:10px;
    margin-right:20px;
}

.main-top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 4px;
    color: black !important;
}

.main-bottom{
    width: 100%;
    font-size: 20px;
    padding : 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttons{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


@media screen and (max-width : 1300px){
    .invite-element{
        width: 600px;
    }
}

@media screen and (max-width : 990px){
    .invite-element{
        flex-direction: column;
        padding: 10px;
    }
    .buttons{
        margin-top: 10px;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .form-control{
        margin-right: 0px !important;
    }
}

@media screen and (max-width: 480px){
    .main-bottom{
        flex-direction: column;
        align-items: flex-start;
    }
    .main-bottom h5{
        margin-left : 0px;
    }
}

