<div class='invite-element shadow'>
    <div class="main-div">
        <h1 class="main-top">
            {{invitation.jobTitle}}
        </h1>
        <div class="main-bottom">
            <h5 class='job-id'> <b>Date: </b> {{invitation.createdAt | dateFormat}} </h5>
            <h5 class='work-type'> <b>Invitee: </b> {{invitation.inviteeUsername}} </h5>
        </div>
    </div>
    <div class='buttons'>
        <button type="button" (click)="handleView()" class="btn btn-primary" >View</button>
        <button type="button" (click)="handleRevoke()" *ngIf="invitation.status === INVITATION_STATUS.PENDING" class="btn btn-danger">Revoke</button>
        <!-- <button type="button" (click)="handleInvite()" *ngIf="invitation.status === INVITATION_STATUS.ACCEPTED" class="btn btn-warning">Invite to chat</button> -->
    </div>
</div>