<div class="hero">
  <div class="form-box">
    <div class="button-box">
      <div id="btn" [ngStyle]="{ left: buttonLeft }"></div>
      <button type="button" class="toggle-btn" (click)="login()">Login</button>
      <button type="button" class="toggle-btn" (click)="signup()">
        Signup
      </button>
    </div>


    <form id="login" class="input-group login" [ngStyle]="{ left: loginLeft }">
      <input
        type="text"
        class="input-field"
        placeholder="Username"
        name="username"
        [(ngModel)]="username"
        required
      />
      <div class="password-eye" style="margin-top: 30px">
        <input
          [type]="isShow ? 'text' : 'password'"
          class="input-field"
          name="password"
          placeholder="Password"
          (keydown)="onKeyDown($event)"
          [(ngModel)]="password"
          required
        />
        <button class="eye-but" (click)="toggleShow()">
          <i
            class="fa"
            [ngClass]="{ 'fa-eye': isShow, 'fa-eye-slash': !isShow }"
          ></i>
        </button>
      </div>
      <p *ngIf="password!=='' && !isValidPassword(password)" style="color: red;">* Invalid Password</p>
      <div class="forgot">
        <a [routerLink]="['/forgot-password']"><br /><br /></a>
      </div>
      <button
        *ngIf="!isLoading"
        type="submit"
        [disabled]="!(username!=='' && isValidPassword(password))"
        class="my-submit"
        (click)="onLogin()"
      >
        Log in
      </button>
      <p *ngIf="isLoading" class="text-center" style="width: 100%">
        <my-loader></my-loader>
      </p>
    </form>

    <!------------------------------------------ SIGNUP FORM -------------------------------------------------->

    <form
      id="signup"
      [formGroup]="signUpForm"
      class="input-group"
      [ngStyle]="{ left: signupLeft }"
    >
      <input
        type="text"
        class="input-field"
        placeholder="Username"
        formControlName="username"
        appTrimspaces
        required
      />
      <input
        type="email"
        class="input-field"
        formControlName="email"
        placeholder="Email Id"
        appTrimspaces
        required
      />
      <p
        *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.errors?.['email']"
        class="invalid-fb"
      >
        *Invalid Email format
      </p>
      <div class="password-eye">
        <input
          [type]="isShow ? 'text' : 'password'"
          class="input-field"
          formControlName="password"
          placeholder="Password"
          required
        />
        <button class="eye-but" (click)="toggleShow()">
          <i
            class="fa"
            [ngClass]="{ 'fa-eye': isShow, 'fa-eye-slash': !isShow }"
          ></i>
        </button>
      </div>
      <div class="password-eye">
        <input
          type="password"
          class="input-field"
          formControlName="confirm"
          placeholder="Confirm Password"
          required
        />
      </div>
      <p
        class="invalid-fb"
        *ngIf="p?.touched && p?.errors?.['strongPassword']"
        #pattern
      >
        * Password should contain atleast one special character, one uppercase
        and one digit
      </p>

      <p
        class="invalid-fb"
        *ngIf="p?.touched && p?.value!==signUpForm.get('confirm')?.value && !p?.errors?.['strongPassword']"
      >
        * Passwords do not match
      </p>

      <div class="d-flex flex-row align-items-center w-100 h-50">
        <input
          type="checkbox"
          class="check-box"
          formControlName="acceptTerms"
        />
        <span style="transform: translate(30px, 0px)"
          >I agree to the terms & conditions</span
        >
        <p
          style="margin-top: 50px"
          *ngIf="
            submitted &&
            f['acceptTerms'].errors &&
            f['acceptTerms'].errors['required'] !== null &&
            f['acceptTerms'].errors['required']
          "
          class="invalid-fb"
        >
          Accept Ts & Cs is required
        </p>
      </div>
      <button
        *ngIf="!isLoading"
        [disabled]="!signUpForm.valid"
        type="submit"
        class="my-submit but"
        (click)="onSignUp()"
      >
        Signup
      </button>
      <p *ngIf="isLoading" class="text-center" style="width: 100%">
        <my-loader></my-loader>
      </p>    
      <!-- <button *ngIf="true" style="margin-top: 20px" class="my-submit off">
      </button> -->
    </form>
  </div>
</div>
