<div *ngIf="isLoading; else applicationForm">
  <app-commonloader></app-commonloader>
</div>


<ng-template #applicationForm>
<div  class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
      <img class="formbold-img" src="https://t3.ftcdn.net/jpg/03/13/59/86/360_F_313598658_3TUnxxAvA2v4oDdcAKAYVh15782FcrtW.jpg" />
      
      <div *ngIf="companyLogo" class="demo">
          <img [src]="companyLogo"/>
          <h4>{{companyName | titlecase}}</h4>
       </div> 
        
       <p class='applying-for'>Applying for {{jobTitle | titlecase}} at {{companyName | titlecase}}, {{location}}</p>
      <form (ngSubmit)="submitForm()">
        <div class="formbold-input-flex">
          <div>
            <label htmlFor="firstname" class="formbold-form-label">
              First Name<span style="color: red;">*</span>
            </label>
            <input
              type="text"
              name="firstname"
              #firstname
              id="firstname"
              [value]="applyForm.firstname"
              placeholder="Your first name"
              class="formbold-form-input"
              [disabled]="true"
            />
          </div>
          <div>
            <label htmlFor="lastname" class="formbold-form-label">
             
              Last Name<span style="color: red;">*</span>
            </label>
            <input
              type="text"
              name="lastname"
              [value]="applyForm.lastname"
              id="lastname"
              [disabled]="true"
              placeholder="Your last name"
              class="formbold-form-input"
            />
          </div>
        </div>
        <div class="formbold-input-flex">
          <div>
            <label htmlFor="email" class="formbold-form-label">
              
              Email<span style="color: red;">*</span>
            </label>
            <input
              type="email"
              name="email"
              [disabled]="true"
              id="email"
              [value]="applyForm.email"
              placeholder="example@email.com"
              class="formbold-form-input"
            />
          </div>
          <div>
            <label class="formbold-form-label">Bio<span style="color: red;">*</span></label>
            <input
            type="text"
            id="bio"
            name="bio"
            [disabled]="true"
            [value]="applyForm.bio"
            placeholder="Your Role"
            class="formbold-form-input"
            />
          </div>
        </div>
        <div class="formbold-mb-3 formbold-input-wrapp">
          <label htmlFor="phone" class="formbold-form-label">
            
            Phone<span style="color: red;">*</span>
          </label>
          <div>
            <input
              type="text"
              name="phone"
              id="phone"
              [disabled]="true"
              [value]="applyForm.phone"
              placeholder="Phone number"
              class="formbold-form-input"
            />
          </div>
        </div>
        <div class="formbold-mb-3">
          <label htmlFor="position" class="formbold-form-label">
            Applying for Position<span style="color: red;">*</span>
          </label>
          <input
            type="text"
            [value]="applyForm.position" 
            name="position"
            id="position"
            [disabled]="true"
            class="formbold-form-input"
          />
        </div>
        <div class="formbold-mb-3">
          <label htmlFor="dob" class="formbold-form-label">
            
            When can you start?<span style="color: red;">*</span>
          </label>
          <input
            type="date"
            name="doj"
            required
            [(ngModel)]="applyForm.startdate"
            id="doj"
            
            class="formbold-form-input"
          />
        </div>
      
        <div class="formbold-form-file-flex">
          <label htmlFor="upload"  class="formbold-form-label">
            Upload Resume<span style="color: red;">*</span>
          </label>
          <div class='upload-files'>
          <input
            type="file"
            (change)="onFileChange($event)"
            name="resume"
            accept=".doc,.docx,.pdf"
            id="upload"
            class="formbold-form-file"
          />
          </div>
        </div>
        <button class="formbold-btn" type="submit">
          &nbsp;&nbsp;Apply Now</button>
      </form>
    </div>
  </div> 
</ng-template>