/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/css/all.css";

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';

body{
    background: #0a1627c0 !important;
  }
/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';

.modal-content{
  border: none !important;
}
