<div *ngIf="profileLoading; else showProfile">
  <app-commonloader></app-commonloader>
</div>

<ng-template #showProfile>
  <div class="main-form w-80">
    <div class="card" [ngClass]="{ 'form-shadow': profileForm.touched }">
      <div
        class="row d-flex flex-column align-items-center justify-content-center"
      >
        <p
          *ngIf="cur_user === searched_for"
          style="font-weight: bold; color: black; font-size: 35px"
        >
          Your Profile
        </p>

        <p
          *ngIf="cur_user !== searched_for"
          style="font-weight: bold; color: black; font-size: 35px"
        >
          {{ searched_for | titlecase }}'s Profile
        </p>
        <form
          [formGroup]="profileForm"
          class="col-md-12"
          (ngSubmit)="onSubmit()"
        >
          <div class="mb-4">
            <label for="username"
              >Username<span style="color: red">*</span></label
            >
            <input
              class="form-control"
              [readonly]="flag"
              [class.disabled]="
                flag && 
                profileForm.get('username') && 
                profileForm.get('username')?.value.length > 0
              "
              [value]="profileUser"
              id="username"
              formControlName="username"
            />
            <span
              class="text-danger"
              *ngIf="
              
                profileForm.controls?.['username']?.touched &&
                profileForm.get('username')?.errors !== null &&
                profileForm.get('username')?.errors?.['required']
              "
            >
              Username is required
            </span>
          </div>
          <div class="d-flex justify-content-between">
            <div class="mb-4 col-6" style="margin-right: 10px">
              <label for="firstname"
                >FirstName<span style="color: red">*</span></label
              >
              <input
                class="form-control"
                [readonly]="cur_user !== searched_for"
                required
                [class.disabled]="cur_user !== searched_for"
                id="firstname"
                formControlName="firstname"
              />
              <span
                class="text-danger"
                *ngIf="
                  profileForm.controls?.['firstname']?.touched &&
                  profileForm.get('firstname')?.errors !== null &&
                  profileForm.get('firstname')?.errors?.['required']
                "
              >
                Firstname is required
              </span>
            </div>

            <div class="mb-4 col-6">
              <label for="lastname"
                >LastName<span style="color: red">*</span></label
              >
              <input
                class="form-control"
                type="text"
                id="lastname"
                [readonly]="cur_user !== searched_for"
                [class.disabled]="cur_user !== searched_for"
                formControlName="lastname"
              />
              <span
                class="text-danger"
                *ngIf="
                  profileForm.controls?.['lastname']?.touched &&
                  profileForm.get('lastname')?.errors !== null &&
                  profileForm.get('lastname')?.errors?.['required']
                "
              >
                Lastname is required
              </span>
            </div>
          </div>

          <div class="mb-4">
            <label for="email">Email<span style="color: red">*</span></label>
            <input
              class="form-control"
              [readonly]="cur_user !== searched_for"
              [class.disabled]="cur_user !== searched_for"
              type="text"
              id="email"
              formControlName="email"
            />
            <span
              class="text-danger"
              *ngIf="
                profileForm.controls?.['email']?.touched &&
                profileForm.get('email')?.errors !== null &&
                profileForm.get('email')?.errors?.['required']
              "
            >
              Email is required
            </span>
          </div>

          <div class="d-flex justify-content-between">
            <div class="mb-4 col-6" style="margin-right: 10px">
              <label for="phone">Phone<span style="color: red">*</span></label>
              <input
                class="form-control"
                type="text"
                [readonly]="cur_user !== searched_for"
                [class.disabled]="cur_user !== searched_for"
                id="phone"
                formControlName="phone"
              />
              <span
                class="text-danger"
                *ngIf="
                  profileForm.controls?.['phone']?.touched &&
                  profileForm.get('phone')?.errors !== null &&
                  profileForm.get('phone')?.errors?.['required']
                "
              >
                Phone Number is required
              </span>
            </div>

            <div class="mb-4 col-6">
              <label for="dob"
                >Date of Birth<span style="color: red">*</span></label
              >
              <input
                class="form-control"
                type="date"
                [readonly]="cur_user !== searched_for"
                [class.disabled]="cur_user !== searched_for"
                id="dob"
                formControlName="dob"
              />
              <span
                class="text-danger"
                *ngIf="
                  profileForm.controls?.['dob']?.touched &&
                  profileForm.get('dob')?.errors !== null &&
                  profileForm.get('dob')?.errors?.['required']
                "
              >
                Date of Birth is required
              </span>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="mb-4 col-6" style="margin-right: 10px">
              <label for="location"
                >Location<span style="color: red">*</span></label
              >
              <input
                class="form-control"
                type="text"
                [readonly]="cur_user !== searched_for"
                [class.disabled]="cur_user !== searched_for"
                id="location"
                formControlName="location"
              />
              <span
                class="text-danger"
                *ngIf="
                  profileForm.get('location')?.errors !== null &&
                  profileForm.get('location')?.errors?.['required']
                "
              >
                Location is required
              </span>
            </div>

            <div class="mb-4 col-6">
              <label for="company"
                >Company<span style="color: red">*</span></label
              >
              <input
                class="form-control"
                type="text"
                [readonly]="cur_user !== searched_for"
                [class.disabled]="cur_user !== searched_for"
                id="company"
                formControlName="company"
              />
              <span
                class="text-danger"
                *ngIf="
                  profileForm.controls?.['company']?.touched &&
                  profileForm.get('company')?.errors !== null &&
                  profileForm.get('company')?.errors?.['required']
                "
              >
                Company is required
              </span>
            </div>
          </div>

          <div class="mb-4">
            <label for="bio">Bio<span style="color: red">*</span></label>
            <input
              class="form-control"
              id="bio"
              [readonly]="cur_user !== searched_for"
              [class.disabled]="cur_user !== searched_for"
              type="text"
              formControlName="bio"
            />
            <span
              class="text-danger"
              *ngIf="
                profileForm.controls?.['bio']?.touched &&
                profileForm.get('bio')?.errors !== null &&
                profileForm.get('bio')?.errors?.['required']
              "
            >
              Bio is required
            </span>
          </div>

          <div class="d-flex flex-column mb-4">
            <label for="about">About<span style="color: red">*</span></label>
            <textarea
              id="about"
              rows="5"
              [readonly]="cur_user !== searched_for"
              [class.disabled]="cur_user !== searched_for"
              class="form-control"
              formControlName="about"
            ></textarea>
            <span
              class="text-danger"
              *ngIf="
                profileForm.controls?.['about']?.touched &&
                profileForm.get('about')?.errors !== null &&
                profileForm.get('about')?.errors?.['required']
              "
            >
              About is required
            </span>
          </div>

          <!-- <div>
            <label for="role">Role</label>
            <input class="form-control"  id="role" type="text" formControlName="role"/>
            <span class="text-danger"
                *ngIf="profileForm.controls.role.touched && profileForm.get('role').errors!==null && profileForm.get('role').errors['required']">
                Role is required
            </span>
        </div> -->

          <div *ngIf="profileForm.get('skills')?.value.length>0; else noSkills">
            <!-- {{(profileForm.get('skills').value)}} -->
            <div class="all-skills">
              <p>SKILLS:</p>
              <div
                *ngFor="
                  let skill of profileForm.get('skills')?.value;
                  let i = index
                "
              >
                <span class="skill-box"
                  >{{ skill }}

                  <button
                    *ngIf="cur_user === searched_for"
                    type="button"
                    class="remove"
                    (click)="removeSkill(i)"
                  >
                    x
                  </button>
                </span>
              </div>
            </div>
          </div>

          <ng-template #noSkills>
            <div>
              <p>SKILLS: No Skills Added</p>
            </div>
          </ng-template>
          <div formArrayName="skills" *ngIf="cur_user === searched_for">
            <label for="skills">Skills<span style="color: red">*</span></label>
            <div class="d-flex mb-3">
              <select class="form-control select" id="skills" #selectedSkill>
                <option *ngFor="let skill of availableSkills" [value]="skill">
                  {{ skill }}
                </option>
              </select>

              <button
                *ngIf="profileUser"
                type="button"
                class="add"
                (click)="addSkill(selectedSkill.value)"
              >
                Add Skill
              </button>
              <span
                class="text-danger"
                *ngIf="
                  profileForm.controls?.['skills']?.touched &&
                  profileForm.get('skills')?.value.length === 0
                "
              >
                Atleast one skill is required
              </span>
            </div>

            <!-- <div *ngIf="profileForm.get('skills') as FormArray">
            <div *ngFor="let skill of (profileForm.get('skills') as FormArray).controls; let i = index">
                <span>{{skill.value}}</span>
                <button type="button" (click)="removeSkill(i)">Remove</button>
            </div>
        </div> -->
          </div>

          <div class="d-flex justify-content-between">
            <div class="mb-4 col-6" style="margin-right: 10px">
              <label for="github"
                >Github<span style="color: red">*</span></label
              >
              <input
                class="form-control"
                id="github"
                [readonly]="cur_user !== searched_for"
                [class.disabled]="cur_user !== searched_for"
                type="text"
                formControlName="github"
              />
              <span
                class="text-danger"
                *ngIf="
                  profileForm.controls?.['github']?.touched &&
                  profileForm.get('github')?.errors !== null &&
                  profileForm.get('github')?.errors?.['required']
                "
              >
                Github Url is required
              </span>
            </div>

            <div class="mb-4 col-6">
              <label for="linkedin"
                >LinkedIn<span style="color: red">*</span></label
              >
              <input
                class="form-control"
                id="linkedin"
                [readonly]="cur_user !== searched_for"
                [class.disabled]="cur_user !== searched_for"
                type="text"
                formControlName="linkedin"
              />
              <span
                class="text-danger"
                *ngIf="
                  profileForm.controls?.['linkedin']?.touched &&
                  profileForm.get('linkedin')?.errors !== null &&
                  profileForm.get('linkedin')?.errors?.['required']
                "
              >
                LinkedIn Url is required
              </span>
            </div>
          </div>
          <!-- <button class="btn btn-primary">Hello</button> -->
          <button
            [disabled]="profileForm.invalid"
            *ngIf="cur_user === searched_for"
            type="submit"
            class="btn btn-primary"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
