
.main-form{
    margin: 0;
    max-width: 100vw;
    display: flex;
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    background-color: #5c536d;
    opacity: 0.7;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
}

.disabled{
    background-color: rgba(128, 128, 128, 0.198) !important;
}



.form-bottom{
    height: calc(140vh - 105px);
    max-width: 95vw;
    margin: 50px;
   
    
}

.req::after {
    content: ' *';
    color: red;
  }
.no-user-found{
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.no-user-found img{
    height: 90vh;
    width: 50vw;
}
.no-user-found h1{
    color: black;
    transform: translate(0px,-100px);
}
.img-account-profile {
    height: 10rem;
    width: 9.5rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    width: 63vw;
    margin: 50px;
    padding: 80px;
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.add{
    width: 13%;
    background: #ee0979;
    transform: translate(0,-10px);
    font-weight: bold;
    color: white;
    border: 0 none;
    height: 60px;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    margin-left: 20px;
}
.form-shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 25px 25px 25px 25px;
}
.remove{
    margin-left: 12px;
    background-color: transparent;
    border: none;
    color: white;
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #505051;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control{
    font-size: 22px;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}


.skill-box{
background-color: #8c5be8;
border-radius: 30px;
padding: 10px 15px 10px 15px;
font-size: 12px;
border: 0px;
color: white;
margin: 5px;
}

.select{
    width: 85%;
    height: 60px;
}
.all-skills{
display: flex;
flex-wrap: wrap;
margin-bottom: 20px;
}

.card-body{
    border: 2px solid black;
    margin: 20px;
}