<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"
          aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form >
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value={{data.inviteeUsername}} readOnly />
            <label for="company-name">Invitee</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value={{data.inviterUsername}} readOnly />
            <label for="company-name">Inviter</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value={{data.companyName}} readOnly />
            <label for="company-name">Company Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value={{data.jobTitle}} readOnly />
            <label for="job-role">Job Role</label>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text grey-bg" for="inputGroupSelect01">Work Mode</label>
            <input class="form-select" id="inputGroupSelect01" value={{data.jobMode}} readOnly>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text grey-bg" for="inputGroupSelect01">Work Type</label>
            <input class="form-select" id="inputGroupSelect01" value={{data.jobType}} readOnly>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text grey-bg" for="inputGroupSelect01">Job Scope</label>
            <input class="form-select" id="inputGroupSelect01" value={{data.jobScope}} readOnly>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text grey-bg" for="inputGroupSelect01">Salary type</label>
            <input class="form-select" id="inputGroupSelect01" value={{data.salaryType}} readOnly>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value={{data.jobSalary}} readOnly />
            <label for="salary">Salary (INR)</label>
        </div>
        <div class="skills-div mb-3">
            <label class="skills-label ps-3 fw-light">Job Description</label>
            <div class="d-flex flex-row ms-3 mb-2 flex-wrap" style="white-space: pre-line;">
                {{data.jobDescription}}
            </div>
        </div>
        <div class="d-flex flex-row justify-content-end">
            <button  type="button" class="btn btn-secondary me-3" (click)="closeModal()">
                Close
            </button>
        </div>
    </form>
  </div>