<div *ngIf="isLatestLoading; else showLatestJobs">
  <app-mainloader></app-mainloader>
</div>

<ng-template #showLatestJobs>
  <div *ngIf="!isLatestLoading">
    <div class="top-btns">
      <div class="dropdown-latest">
        <!-- <select class="custom-select" id="sort" onChange={changeOrder}>
              <option>Sort By Date</option>
              <option value="2">Show Latest</option>
              <option value="1">Show Oldest</option>
          </select> -->
      </div>
    </div>
    <div class="home-page-content">
      <ng-container *ngFor="let each of latestJobs; let i = index">
        <app-latesteach [job]="each"></app-latesteach>
      </ng-container>
    </div>
  </div>
</ng-template>
