<div *ngIf="isFreelanceLoading" style="margin-top: 30px;">
    <app-mainloader></app-mainloader>
</div>
<div *ngIf="!isFreelanceLoading" class='home-page-content'>
    <ng-container *ngFor="let eachJob of freelanceJobs;let i=index">
        <app-each-applied [isFreelance]="true" 
        [isShowDelete]="true" 
        (delete)="withDraw($event)" [eachJob]="eachJob"></app-each-applied>
    </ng-container>
</div>