<div>
    <h1 class='hiring-heading page-heading'>Invitations sent</h1>
    <div class="tabs">
        <input type="radio" id="tab1" name="tab-control" [checked]="currTab === 'tab1'" (click)="changeTab('tab1')" />
        <input type="radio" id="tab2" name="tab-control" [checked]="currTab === 'tab2'" (click)="changeTab('tab2')" />
        <input type="radio" id="tab3" name="tab-control" [checked]="currTab === 'tab3'" (click)="changeTab('tab3')" />
        <ul class='hiring-ul'>
            <li title="Approved">
                <label for="tab1" role="button">
                    <svg class='mb-1' viewBox="0 0 24 24">
                        <path
                            d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z" />
                    </svg>
                    <br />
                    <span class='tab-heading'>Approved Invitations</span>
                </label>
            </li>
            <li title="Pending Invites">
                <label for="tab2" role="button">
                    <svg class='mb-1' viewBox="0 0 24 24">
                        <path
                            d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                    </svg>
                    <br />
                    <span class='tab-heading'>Pending Invitations</span>
                </label>
            </li>
            <li title="Rejected Invites">
                <label for="tab3" role="button">
                    <svg class='mb-1' viewBox="0 0 24 24">
                        <path
                            d="M6.71,6.71,5.29,5.29,12,12l-6.71,6.71,1.42,1.42L12,13.41l6.71,6.71,1.42-1.42L13.41,12l6.71-6.71-1.42-1.42L12,10.59,5.29,3.88Z" />
                    </svg>
                    <br />
                    <span class='tab-heading'>Rejected Invitations</span>
                </label>
            </li>
        </ul>
        <div class="slider">
            <div class="indicator"></div>
        </div>
        <div class="content" [ngSwitch]="currTab">
            <div *ngSwitchCase="'tab1'">
                <ng-container *ngIf="approvedInvitations.length ; else noData">
                    <ng-container *ngFor="let invitation of approvedInvitations">
                        <app-invitation-card (view)="viewInvitaion($event)"
                            [invitation]="invitation"></app-invitation-card>
                    </ng-container>
                </ng-container>
            </div>

            <div *ngSwitchCase="'tab2'">
                <ng-container *ngIf="pendingInvitations.length ; else noData">
                    <ng-container *ngFor="let invitation of pendingInvitations">
                        <app-invitation-card (view)="viewInvitaion($event)" (revoke)="revokeInvitation($event)"
                            [invitation]="invitation"></app-invitation-card>
                    </ng-container>
                </ng-container>
            </div>

            <div *ngSwitchCase="'tab3'">
                <ng-container *ngIf="rejectedInvitations.length ; else noData">
                    <ng-container *ngFor="let invitation of rejectedInvitations">
                        <app-invitation-card (view)="viewInvitaion($event)"
                            [invitation]="invitation"></app-invitation-card>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <ng-template #noData>
            <h3>No Data Found</h3>
        </ng-template>
    </div>